tecdocPróbka1.txt
tecdocPróbka2.txt
tecdocPróbka3.txt
tecdocProóbka4.txt
TECDOC.txt
result.txt
TECDOC1.txt
TECDOC2.txt
TECDOC3.txt
TECDOC4.txt
TECDOC5.txt
TECDOC6.txt
TECDOC7.txt
TECDOC8.txt
TECDOC9.txt